# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
node_modules/
build/
develop-eggs/
dist/
!plugins.v2/embytmdbcollectionsync/dist/
!plugins.v2/embytmdbcollectionsync/dist/**
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/

# IDE & Editors
.idea/
.vscode/
*.swp
*.swo
*~
.project
.pydevproject

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs & Databases
*.log
*.sqlite
*.db

# Environment variables & Local secrets
.env
.env.local
plugins.v2/hdskymonitor/hdsky_monitor_state.json
